<div class="instructions">Swipe away the bad comments (outlined in red) before they stack up!</div>


<div id="article-post" class="row">

	<div id="article-image" class="col-sm-6">
		<div class="thumbnail">
			<img src="{{this.thumbnail.url}}"/>
		</div>
	</div>

	<div id="article-title" class="col-sm-6">{{this.headline.title}}</div>

	<div class="article-stats">Shares: <span class="upVote counter" data-count="{{this.points}}" id="shares">0</span></div>

</div>

<div id="comment-feed">

	{{#each this.comments}}

		<div class="comment commentRe row {{#ifeq this.status 'bad'}}bad{{else}}good{{/ifeq}}" style="display:none;">

			<div class="profile-image col-sm-3 thumbnail">
				<img src="{{this.image.url}}"/>
			</div>

			<div class="comment-body col-sm-9">

				<div class="profile-name">{{this.username}}</div>

				<div class="comment-text">{{this.text}}</div>

			</div>

			<div class="comment-stats">Likes: <span data-count="{{../this.points}}" id="likes" class="upVote counter">0</span></div>

		</div>

	{{/each}}

</div>

<div class="modal" id="round-score" style="display:none;">

	<h1>Nice work! Your post got a total of <span id="post-score"></span> shares!</h1>


	<button class="btn submit" data-event="game:newArticle" data-package='{"code": "TEST", "name": "player"}' id="game-newArticle">again, again!</button>

</div>
