<div class="instructions">Swipe away twisted headlines before they stack up!</div>
{{!-- 
<div id="article-post" class="row">

	<div id="article-image" class="col-sm-6">
		<div class="thumbnail">
			<img src="{{this.thumbnail}}"/>
		</div>
	</div>

	<div id="article-title" class="col-sm-6">{{this.headline}}</div>

	<div class="article-stats">Shares: <span class="upVote counter" data-count="{{this.points}}" id="shares">0</span></div>

</div> --}}

<div id="comment-feed">

	{{#each articles}}

		<div class="comment sticky row" style="display:none;" id="{{this.key}}">

			<div class="profile-image col-sm-3 thumbnail">
				<img src="{{this.thumbnail.url}}"/>
			</div>

			<div class="comment-body col-sm-9">

				<div class="profile-name">{{this.username}}</div>

				<div class="comment-text">{{this.name}}</div>

			</div>

			<div class="comment-stats">Likes: <span data-count="{{../this.points}}" id="likes" class="upVote counter">0</span></div>

		</div>

	{{/each}}

</div>

<div class="modal" id="round-score" style="display:none;">

	<h1>Nice work! You defended the truth from <span id="twisted-killer"></span> twisted articles!</h1>
	<h1>Uh Oh! You managed to let <span id="twisted-number"></span> twisted articles through! Better luck next time!</h1>

	<button class="btn submit" data-event="game:newEvent" data-package='{"code": "TEST", "name": "player"}' id="game-newEvent">again, again!</button>

</div>
