<div class="thumbnail option" data-status='{{status}}' data-truth='{{truth}}' data-bias="{{bias}}" data-catch='{{eyeCatch}}' id="{{thumbnail_key}}">
	<img src="{{image.url}}" width="80px" height="80px" />
</div>