<div class="thumbnail option" data-status='{{status}}' data-truth='{{truth}}' data-bias="{{bias}}" data-catch='{{eyeCatch}}' id="{{thumbnail_key}}">
	<img src="{{{cloudinaryUrl image width=100 height=100 quality=80}}}" />
</div>