<div class="feed-wrap">
	<div id="post-feed" style="display:none">

		{{#each articles}}

			<div class="post" id="{{this.key}}">

				<div class="user">

					<img class="profile-image" src="{{cloudinaryUrl /v1492992566/Fake-news/genericfriendicon.png height="50" width="50"}}">
					<div class="profile-name">{{this.user}}</div>

				</div>

				<div class="comment-text">{{this.comment}}</div>

				<div class="post-body" style="background-image:url("{{this.thumbnail.url}}");">

					<div class="headline">{{this.name}}</div>

				</div>

				<div class="post-footer">
					<div class="btn likes"></div>
					<div class="btn comments"></div>
					<button class="btn submit share-btn">SHARE</button>
				</div>

			</div>

		{{/each}}

		<div class="loading"></div>

	</div>
</div>


