<div class="profile-wrapper">
	<div class="profile-header" style="background-image:url('{{{cloudinaryUrl currentProfile.cover height="200"}}}')">

		<div class="profile-image">

			<img src="{{{cloudinaryUrl currentProfile.image width="100" height="100"}}}"><h3>{{currentProfile.name}}</h3>

		</div>

	</div>

	<div class="about">

		{{{currentProfile.bio.html}}}

		<h3>Traits</h3>

		{{#each followers}}

		{{!-- {{{jsonPrint this}}} --}}
		<div class="follower-bucket-bar" id="{{trait.key}}:{{opposite.key}}">
			<div class="followers" style="width:{{splitRatio ratio true}}%" id="{{trait.key}}">
			{{trait.name}}: {{splitRatio ratio true}}%</div>
			<div class="followers" style="width:{{splitRatio ratio false}}%" id="{{opposite.key}}">
			{{opposite.name}}: {{splitRatio ratio false}}%</div>
		</div>

		{{/each}}

	</div>
</div>

<a id="start-round">start</a>